{% load static %}

<div class="chat-container" id="chat-container" data-offer-id="{{ offer.id }}">
    <div class="chat-messages">
    {% for message in messages %}
        <div class="message-box {% if message.from_user.id == user.id %}chat-box-message__right{% else %}chat-box-message__left{% endif %}" message-id="{{ message.id }}" data-user-id="{{ message.from_user.id }}">
            <div class="message-box-header {% if message.from_user == user %}right{% else %}left{% endif %}">
                <div class="message-box-header__image">
                    {% if message.from_user.image %}
                    <img src="{{ message.from_user.image.url }}" alt="">
                    {% else %}
                    <img src="{% static 'img/user-profile.svg' %}" alt="">
                    {% endif %}
                </div>
                <div class="message-box-header__name">
                    <span>{{message.from_user.first_name}} {{message.from_user.last_name}}</span>
                </div>
            </div>
            <div class="message-box-body">
                <span>{{message.message}}</span>
            </div>
            <div class="message-box-footer">
                <span class="timestamp">{{message.date_sent|date:"Y-m-d H:i:s"}}</span>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="chat-control">
        <form method="post" class="message-form">
            {% csrf_token %}
            {{ form_message.message }}
            <button type="submit" class="send-button">
                Send message
            </button>
        </form>
    </div>
</div>