{% load static %}
{% load ad_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    
    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/ad.css' %}">

    <script src="{% static 'js/ad.js' %}"></script>
</head>

<body>
    <div class="wrapper">
        {% block header %}{% endblock header %}

        <main class="main">
            {% block content %}

            {% endblock content %}
        </main>
        {% block footer %}{% endblock footer %}

        <div class="wrapper-bg"></div>

        {% display_popup_ad 'popup' %}
        {% display_ad_bottom 'bottom' %}
        {% display_sticky_ad 'sticky' %}

        {% include 'home/footer.html' %}
    </div>

    <script defer src="{% static 'js/main.js' %}"></script>
</body>

</html>