{% extends 'base.html' %}
{% load static %}


{% block title %}
    Portfolio
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'js/portfolio.js' %}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
{% endblock %}

{% block content %}
<section class="calendar">
    <div class="container">
        <div class="calendar__inner image-upload">
            <div class="start">
                <button class="portfolio-btn btn-reset">
                    <h2 class="portfolio-title">Portfolio</h2>
                    <img src="{% static 'img/plus.svg' %}" alt="">
                </button>

                <div class="image-upload image-box">
                    <img src="{% static 'img/wind.svg' %}" alt="">

                    <p class="image-upload-subtitle">Showcase your work to win more projects</p>
                    <p class="image-upload-subtitle">Add items to impress clients</p>
                </div>
                
            </div>
            <div class="end">
                <button class="btn-reset btn-calendar">Continue</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}