.custom-edit-input__active{
    display: inline-block;
    padding: 10px 20px 10px 20px;
    font-weight: 500;
    font-size: 26px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #5ba7d3;
}
.custom-edit-input__active::placeholder {
    color: white;
}
.custom-edit-input__active:focus {
    outline: none;
    border: none;
}



input[type="checkbox"].custom-checkbox#personal-image-clear_id {
    background-color: red;
    font-size: 30px;
}