{% extends 'base.html' %}
{% load static %}

{% block title %}
    Add new offer
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/add_offer.css' %}">
{% endblock %}

{% block content %}
<div class="add-offer">
    <div class="add-offer-container">
        <h1>
            Add new offer
        </h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <ul>
                <li>
                    <h1 class="text-label-form">Title</h1>
                    <span>
                        {{ form.title }} 
                    </span>
                </li>
                <li>
                    <h1 class="text-label-form">Description</h1>
                    <span>
                        {{ form.description }}
                    </span>
                </li>
                <li>
                    <h1 class="text-label-form">Spent</h1>
                    <span>
                        {{ form.spent }}
                    </span>
                </li>
                <li>
                    <h1 class="text-label-form">Tags</h1>
                    <span>
                        {{ form.tags }}
                    </span>
                </li>
                <li>
                    <h1 class="text-label-form">Date end</h1>
                    <span>
                        {{ form.date_end }} 
                    </span>
                </li>
                <li style="display: flex; justify-content: center; align-items: center; padding: 40px;">
                    <button class="btn-form" type="submit">Add</button>
                </li>
            </ul>
        </form>
    </div>
</div>
{% endblock %}