{% extends 'base.html' %}
{% load static %}


{% block title %}
    My profile
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}


{% block content %}
<div class="user-portfolio">
    <div class="container">
        <div class="section-left">
            <div class="dashboard">
                <h2 class="title">Settings</h2>

                <ul class="dashboard__list">
                    <li class="dashboard__list-item">
                        <a href="#!" class="dashboard__list-link">Get Paid</a>
                    </li>

                    <li class="dashboard__list-item">
                        <a href="#!" class="dashboard__list-link">Password & Security</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-tight">
            <h2 class="section-tight-title">Contact info</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="section-tight-block">
                    <button class="btn-reset btn-req">
                        <img src="./images/red.svg" alt="">
                    </button>
    
                    <h2 class="account">Account</h2>
    
                    <div class="offer__user">
                        <img src="{% static 'img/user-profile.svg' %}" alt="">
                    </div>
    
                    <ul class="user__setting">
                        <li class="user__setting-item">
                            <h2>User ID</h2>
                            <span>{{ user.user_id_key }}</span>
                        </li>
    
                        <li class="user__setting-item">
                            <h2>Name</h2>
                            <span>{{ user.first_name }} {{ user.last_name }}</span>
                        </li>
    
                        <li class="user__setting-item">
                            <h2>Email</h2>
                            <span>{{ user.email }}</span>
                        </li>
                    </ul>
    
                    <button class="btn-reset close-acc">Close my account</button>
                </div>
    
                <div class="section-tight-block">
                    <button type="submit" class="btn-reset btn-req">
                        <img src="{% static 'img/red.svg' %}" alt="">
                    </button>
    
                    <h2 class="account">Location</h2>
    
                    <ul class="user__setting">
                        <li class="user__setting-item">
                            <h2 for="id_qualification">Address:</h2>
                            <span>
                                {{ personal_info_form.address }}
                            </span>
                        </li>
                        <li class="user__setting-item">
                            <h2 for="id_qualification">Time zone:</h2>
                            <span>
                                {{ personal_info_form.time_zone }}
                            </span>
                        </li>
                        <li class="user__setting-item">
                            <h2>Phone</h2>
                            <span>{{ user.phone_number }}</span>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

<script defer>
const infoUserBlock = document.querySelectorAll('.info-user__block');

infoUserBlock.forEach(function (UserBlock) {
    UserBlock.addEventListener('click', function () {
        const isActive = UserBlock.classList.contains('active');

        infoUserBlock.forEach(function (UserBlockRemove) {
            UserBlockRemove.classList.remove('active');
        });

        if (!isActive) {
            UserBlock.classList.add('active');
        }
    });
});

</script>
{% endblock %}