{% extends 'base.html' %}
{% load static %}


{% block title %}
    My profile
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/settings.js' %}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/profile_settings.css' %}">
{% endblock %}


{% block content %}
<div class="user-portfolio">
    <div class="container">
        <div class="section-left">
            <div class="dashboard">
                <h2 class="title">Settings</h2>

                <ul class="dashboard__list">
                    <li class="dashboard__list-item">
                        <a href="#contact-info" class="dashboard__list-link dashboard__list-block">Contact info</a>
                    </li>

                    <li class="dashboard__list-item">
                        <a href="#get-paid" class="dashboard__list-link dashboard__list-block">Get Paid</a>
                    </li>

                    <li class="dashboard__list-item">
                        <a href="#password-security" class="dashboard__list-link dashboard__list-block">Password & Security</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="section-tight">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div id="password-security" class="section-right-container" style="display: none;">
                    {% include 'client/settings/security.html' %}
                </div>
                <div id="contact-info" class="section-right-container" style="display: block;">
                    {% include 'client/settings/contact_info.html' %}
                </div>
                <div id="get-paid" class="section-right-container" style="display: none;">
                    {% include 'client/settings/get_paid.html' %}
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    function logout() {
        console.log('LOG OUT');
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '{% url "close_account" %}', true);
        xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    console.log('Logged out successfully');
                    location.reload();
                } else {
                    console.error('Error logging out');
                }
            }
        };
        xhr.send();
    }
</script>

<script defer>
const infoUserBlock = document.querySelectorAll('.info-user__block');

infoUserBlock.forEach(function (UserBlock) {
    UserBlock.addEventListener('click', function () {
        const isActive = UserBlock.classList.contains('active');

        infoUserBlock.forEach(function (UserBlockRemove) {
            UserBlockRemove.classList.remove('active');
        });

        if (!isActive) {
            UserBlock.classList.add('active');
        }
    });
});

</script>
{% endblock %}