{% extends 'base.html' %}
{% load static %}

{% block title %}
    List students
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link rel="stylesheet" href="{% static 'css/students.css' %}">
{% endblock %}

{% block content %}
<section class="offer">
    <div class="container">
        <div class="offer__inner">
            <div class="offer__action">
                <button class="offer-filter btn-reset" id="toggleButton" onclick="toggleDiv()">
                    <img src="{% static 'img/filter.svg' %}" alt="">
                    <p>Filter</p>
                </button>

                <div class="offer__user">
                    <div class="offer__user-name">{{ user.first_name }} {{ user.last_name }}</div>
                    {% if user.image %}
                        <img src="{{ user.image.url }}" alt="">
                    {% else %}
                        <img src="{% static 'img/user-profile.svg' %}" alt="">
                    {% endif %}
                </div>
            </div>

            <div class="filter-block hidden" id="content">
                <select id="qualificationSelect">
                    <option value="">All qualification</option>
                    {% for qualification in qualifications %}
                        <option value="{{ qualification.id }}">{{ qualification.name }}</option>
                    {% endfor %}
                </select>
            
                <select id="skillSelect">
                    <option value="">All skills</option>
                    {% for skill in skills %}
                        <option value="{{ skill.id }}">{{ skill.name }}</option>
                    {% endfor %}
                </select>

                <input type="date" class="filter__calendar" id="startDate" placeholder="С 02.11.2021">
                <input type="date" class="filter__calendar" id="endDate" placeholder="По 11.10.2022">

                <button id="filterButton" class="btn-filter">Start</button>
            </div>

            <div class="offer__search">
                <input type="text" class="input-reset" placeholder="Search for jobs">
            </div>

            <div class="info-user">
                {% if students %}
                    {% for student in students %}
                    <div class="info-user__block" data-qualification-id="{{ student.qualification.id }}" data-skill-ids="{% for skill in student.skils.all %}{{ skill.id }},{% endfor %}">
                        <button class="btn-close btn-reset">
                            <img src="{% static 'img/close.svg' %}" alt="">
                        </button>

                        <div class="info-user__block-av">
                            {% if student.image %}
                                <img src="{{ student.image.url }}" alt="">
                            {% else %}
                                <img src="{% static 'img/user-profile.svg' %}" alt="">
                            {% endif %}
                        </div>

                        <div class="info_name">{{ student.first_name }} {{ student.last_name }}</div>

                        <div class="info_profile">{{ student.qualification.name }}</div>

                        <ul class="info__skills">
                            {% for skill in student.skils.all %}
                            <li class="info__skills-item">
                                <p>{{ skill.name }}</p>
                            </li>
                            {% endfor %}
                        </ul>

                        <div class="info__price">
                            <span>{{ student.price_hour }}$/hour</span>
                        </div>

                        <div class="info__text">
                            <p>
                                {{ student.about }}
                            </p>

                            <div class="info__text-action">
                                <button>
                                    <a class="btn-reset" href="{% url 'student_public_view' username=student.username %}" >View portfolio</a>
                                </button>
                                <button class="btn-reset">Offer a job</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <h1>Not found</h1>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

<script defer>
const infoUserBlock = document.querySelectorAll('.info-user__block');

infoUserBlock.forEach(function (UserBlock) {
    UserBlock.addEventListener('click', function () {
        const isActive = UserBlock.classList.contains('active');

        infoUserBlock.forEach(function (UserBlockRemove) {
            UserBlockRemove.classList.remove('active');
        });

        if (!isActive) {
            UserBlock.classList.add('active');
        }
    });
});

</script>

<script src="{% static 'js/students.js' %}"></script>



{% endblock %}