.select-rate{
    background-color: #3a7799;
    padding: 11px 30px 11px 30px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 10px;
}
.delete-offer{
    background-color: #993a3a;
    padding: 11px 70px 11px 70px;
    font-size: 22px;
    font-weight: 600;
    border: none;
    color: white;
    border-radius: 10px;
}