{% load static %}

<h2 class="section-tight-title">Contact info</h2>

<div class="section-tight-block">
    <button class="btn-reset btn-req">
        <img src="{% static 'img/red.svg' %}" alt="">
    </button>

    <h2 class="account">Account</h2>

    <div class="offer__user">
        <img src="{% static 'img/user-profile.svg' %}" alt="">
    </div>

    <ul class="user__setting">
        <li class="user__setting-item">
            <h2>User ID</h2>
            <span>{{ user.user_id_key }}</span>
        </li>

        <li class="user__setting-item">
            <h2>Name</h2>
            <span>{{ user.first_name }} {{ user.last_name }}</span>
        </li>

        <li class="user__setting-item">
            <h2>Email</h2>
            <span>{{ user.email }}</span>
        </li>
    </ul>
    
    <form id="close-account-form" action="{% url 'student_close_account' %}" method="post">
        {% csrf_token %}
        <button class="btn-reset close-acc" type="submit">Close my account</button>
    </form>
</div>

<div class="section-tight-block" id="location-section">
    <button class="btn-reset btn-req">
        <img src="{% static 'img/red.svg' %}" alt="">
    </button>

    <h2 class="account">Location</h2>

    <ul class="user__setting">
        <li class="user__setting-item">
            <h2>Time Zone</h2>
            <span>
                {% if user.time_zone %}
                    <input class="custom-edit-input__active" placeholder="{{ user.time_zone }}"></input>
                {% else %}
                    Not specified
                {% endif %}
            </span>
            <ul>
                {% for timezone in timezones %}
                    <li>{{ timezone }}</li>
                {% endfor %}
            </ul>
        </li>

        <li class="user__setting-item">
            <h2>Address</h2>
            <span>
                {% if user.address %}
                    <input class="custom-edit-input__active" placeholder="{{ user.address }}"></input>
                {% else %}
                    Not specified
                {% endif %}
            </span>
        </li>

        <li class="user__setting-item">
            <h2>Phone</h2>
            <span>{{ user.phone_number }}</span>
        </li>
    </ul>
</div>