{% load static %}

<div class="section-right-block">
    <h2 class="section-tight-title">Personal info</h2>

    <div class="section-tight-block">
        <h2 class="account">Account</h2>
            <ul class="user__setting">
                <li class="user__setting-item">
                    <h2 for="id_qualification">Qualification:</h2>
                    <span>
                        {{ personal_info_form.qualification }}
                    </span>
                </li>
                <li class="user__setting-item">
                    <h2 for="id_price_hour">Price/hour:</h2>
                    <span>
                        {{ personal_info_form.price_hour }}
                    </span>
                </li>
                <li class="user__setting-item">
                    <h2 for="id_hours_per_week">Hours per week:</h2>
                    <span>
                        {{ personal_info_form.hours_per_week }}
                    </span>
                </li>
                <li class="user__setting-item">
                    <h2 for="id_hours_per_week">About</h2>
                    <span>
                        {{ personal_info_form.about }}
                    </span>
                </li>
                <li class="user__setting-item">
                    <h2>skills</h2>
                    <span>
                        {{ personal_info_form.skils }}
                    </span>
                </li>
                <li class="user__setting-item">
                    <h2>Video introduction</h2>
                    <span>
                        {{ personal_info_form.video_introduction }}
                    </span>
                </li>
                <li class="user__setting-item">
                    <h2>Language</h2>
                    <ul class="user__setting">
                        {{ language_formset.management_form }}
                        {% for language_form in language_formset %}
                        <li class="user__setting-item form-edu-control">
                            {{ language_form.as_p }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="user__setting-item">
                    <h2>Education</h2>
                    <ul class="user__setting">
                        {{ education_formset.management_form }}
                        {% for education_form in education_formset %}
                        <li class="user__setting-item form-edu-control">
                            {{ education_form.as_p }}
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <button type="submit" class="btn-reset btn-req">
                    <img src="{% static 'img/red.svg' %}" alt="">
                </button>
            </ul>
    </div>
</div>