{% extends 'base.html' %}
{% load static %}


{% block title %}
    About us
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="information">
        <h2>About Us</h2>
        <p>Welcome to our platform dedicated to empowering students! At <strong>Work Students</strong>, we believe in providing opportunities for students to enhance their skills, gain valuable experience, and earn income while studying. Our mission is to create a supportive environment where students can thrive and collaborate with real clients on meaningful projects.</p>
        <p>Here at <strong>Work Students</strong>, we understand the challenges that students face in today's competitive job market. That's why we've created a space where students can showcase their talents, connect with potential clients, and build a professional portfolio even before graduation. Whether you're a talented designer, a skilled programmer, or a creative writer, our platform offers a wide range of opportunities for students from all disciplines.</p>
        <p>Our community is built on the principles of collaboration, integrity, and innovation. We encourage students to work together, share ideas, and learn from each other's experiences. By fostering a culture of creativity and excellence, we aim to empower the next generation of professionals to succeed in their chosen fields.</p>
        <p>At <strong>Work Students</strong>, we are committed to providing a safe and inclusive environment for all our users. We adhere to strict privacy policies and ensure that your personal information is protected at all times. Our team is dedicated to providing exceptional customer support and assistance whenever you need it.</p>
        <p>Join us on our mission to revolutionize the way students learn, work, and succeed. Whether you're a student looking for exciting projects or a client seeking top talent, <strong>[Platform Name]</strong> is your destination for all things freelancing. Let's work together to make your dreams a reality!</p>    
    </section>
</div>

<div class="wrapper-bg"></div>
{% endblock %}

