{% extends 'base.html' %}
{% load static %}


{% block title %}
    Community
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="information">
        <h2>Community</h2>
        <p>Welcome to the vibrant community at <strong>Work Students</strong>! Our community is a place where students from all walks of life come together to share ideas, collaborate on projects, and support each other's growth.</p>
        <p>Whether you're a seasoned freelancer or just starting out, you'll find a wealth of resources and support within our community. Connect with like-minded individuals, join discussions on topics that interest you, and learn from the experiences of others.</p>
        <p>At <strong>Work Students</strong>, we believe in the power of collaboration. Our community is built on the principles of inclusivity, respect, and mutual support. We encourage students to work together, share their knowledge, and help each other succeed.</p>
        <p>Joining our community is easy! Simply create an account and start participating in discussions, sharing your projects, and connecting with other members. Whether you're looking for advice, feedback, or just some inspiration, you'll find it all within our community.</p>
        <p>Together, we can create a supportive and empowering community where students can thrive and achieve their goals. Join us today and be a part of something special!</p>
    </section>
</div>
{% endblock %}
