{% extends 'base.html' %}
{% load static %}


{% block title %}
    Cookie Policy
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="information">
        <h2>Cookie Policy</h2>
        <p>At <strong>Work Students</strong>, we use cookies to enhance your experience and provide personalized content. Cookies are small text files that are stored on your device when you visit our website. They help us remember your preferences, analyze site usage, and improve our services.</p>
        <p>We use both session cookies and persistent cookies on our website. Session cookies are temporary files that are erased when you close your browser, while persistent cookies remain on your device for a longer period of time. By using our website, you consent to the use of cookies in accordance with this policy.</p>
        <h3>Types of Cookies We Use</h3>
        <ul>
            <li><strong>Essential Cookies:</strong> These cookies are necessary for the operation of our website. They enable core functionality such as page navigation and access to secure areas.</li>
            <li><strong>Analytics Cookies:</strong> These cookies allow us to collect information about how visitors use our website, such as the number of visitors, the pages they visit, and the sources of traffic. This information helps us improve our website and tailor it to your needs.</li>
            <li><strong>Advertising Cookies:</strong> These cookies are used to deliver relevant advertisements to you based on your interests and browsing history. They may also be used to limit the number of times you see an advertisement and measure the effectiveness of advertising campaigns.</li>
        </ul>
        <p>You have the right to choose whether or not to accept cookies. Most web browsers automatically accept cookies, but you can usually modify your browser settings to decline cookies if you prefer. However, please note that disabling cookies may affect the functionality of our website.</p>
        <p>By continuing to use our website without changing your browser settings, you consent to the use of cookies as described in this policy.</p>    
    
    </section>
</div>
{% endblock %}
