{% extends 'base.html' %}
{% load static %}


{% block title %}
    Help & Support
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
    <section class="information">
        <h2>Help & Support</h2>
        <p>At <strong>[Platform Name]</strong>, we're here to help you every step of the way. Whether you have questions about using our platform, need assistance with a specific project, or encounter any issues, our dedicated support team is here to assist you.</p>
        <h3>Contact Us</h3>
        <p>If you need help or support, please don't hesitate to contact us. You can reach us via email, phone, or through our online contact form. Our support team will respond to your inquiry as quickly as possible and provide you with the assistance you need.</p>
        <h3>FAQs</h3>
        <p>Before contacting support, you may find answers to your questions in our Frequently Asked Questions (FAQs) section. We've compiled a list of common questions and answers to help you troubleshoot issues, learn more about our platform, and make the most of your experience.</p>
        <h3>Community Forum</h3>
        <p>Another great resource for help and support is our community forum. Join discussions, ask questions, and connect with other members of the <strong>[Platform Name]</strong> community. Our forum is a place where you can share ideas, seek advice, and learn from the experiences of others.</p>
        <p>Remember, we're here to support you on your journey with <strong>[Platform Name]</strong>. Don't hesitate to reach out if you need assistance or have any questions. We're committed to providing you with the best possible experience and helping you succeed!</p>    

    </section>
</div>
{% endblock %}