{% extends 'base.html' %}
{% load static %}


{% block title %}
    Help Support
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block content %}
<main class="main">
    <div class="message">
        <div class="container">
            <div class="message__inner">
                <h1>Help Support Page</h1>
                <p class="message-text">Help Support Page.</p>
            </div>
        </div>
    </div>
</main>

<div class="wrapper-bg"></div>
{% endblock %}