{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock title %}

{% block header %}
    {% include 'home/header.html' with user=user %}
{% endblock header %}

{% block content %}
<main class="main">
    <section class="hero">
        <div class="container">
            <div class="hero__inner">
                <div class="hero-content">
                    <img src="{% static 'img/hero.png' %}" alt="" >

                    <div class="hero-content__text">
                        <h1 class="hero-content__text-title">Find a Job to teach and find a Student to teach.
                        </h1>

                        <button class="btn-reset" onclick="window.location.href='/choose_role'">Get started</button>
                    </div>
                </div>

                <p class="hero-subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
    </section>
</main>

<div class="wrapper-bg"></div>
{% endblock content %}