{% extends 'base.html' %}
{% load static %}

{% block title %}
    Offer {{ offer.title }}
{% endblock %}

{% block header %}
    {% include 'home/header.html' %}
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/offer_chat.js' %}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/offer_view.css' %}">
<link rel="stylesheet" href="{% static 'css/offer_chat.css' %}">
{% endblock %}

{% block content %}
<div class="offer-view">
    <div class="offer-view-container">
        <div class="offer-view-header">
            <h1>{{ offer.title }}</h1>
            {% if offer.status == 'launched' %}
                <span class="offer-view__status offer-view__launched">Launched</span>                
            {% elif offer.status == 'completed' %}
                <span class="offer-view__status offer-view__launched">Completed</span>                
            {% endif %}
        </div>
        <div class="offer-description">
            <span>
                {{ offer.description }}
            </span>
        </div>
        <div class="offer-team">
            <div class="offer-team__user">
                <span class="">Client:</span>
                <span>{{ offer.user_client.first_name }} {{ offer.user_client.last_name }}</span>
            </div>
            <div class="offer-team__user">
                <span class="">Student:</span>
                <span>{{ offer.user_student.first_name }} {{ offer.user_student.last_name }}</span>
            </div>
        </div>
    </div>
</div>
{% if offer.user_client.id == user.id and offer.status == 'launched' %}
<div class="offer-control">
    <form method="post" action="{% url 'api_client_offer_status' offer.id %}">
        {% csrf_token %}
        <input type="hidden" name="form_id" value="form2">
        <button type="submit" class="offer-btn-complete">Confirm completion</button>
    </form>
</div>
{% endif %}
<div class="offer-chat">
    {% include 'chat/chat.html' %}
</div>
{% endblock %}